# Dependências 
node_modules/

# Expo 
front/.expo/
front/dist/
front/web-build/
front/expo-env.d.ts

# Back-end 
back/.env
.env

# Native 
front/ios/
front/android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro & Debug
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# Sistema
.DS_Store